<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Sena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-dark sidebar">
                <div class="sidebar-heading text-light pt-3 mb-4 custom-blue">
                    <img src="../img/libro.png" class="mr-2" style="height: 100px;"><h1 style="font-size: 35px;">Biblioteca Sena</h1>
                </div>
                <ul class="list-unstyled" style="margin-left: 10px;">
                    <li><a href="../view/libro.html" class="text-light"><i class="fas fa-book"></i> Libros</a></li>
                    <li><a href="../view/usuarios.html" class="text-light"><i class="fas fa-users"></i> Usuarios</a></li>
                    <li><a href="../view/prestamos.html" class="text-light"><i class="fas fa-book-reader"></i> Préstamos</a></li>
                    <li><a href="../view/multas.html" class="text-light"><i class="fas fa-money-bill-wave"></i> Multas</a></li>
                </ul>
            </div>
            <div class="container">
                <h1 style="margin-top: 100px">Añadir Usuario</h1>
                <h6>Todos los campos son obligatorios</h6>
                <br>
                <div class="row">
                    <div class="col col-xl-6 col-12">
                        <b><label for="nombre">Nombre *</label></b>
                        <input type="text" id="nombre_usuario" class="form-control" onfocusout="validarNombre(this);" />
                    </div>

                    <div class="col col-xl-6 col-12">
                        <b><label for="autor">Dirección *</label></b>
                        <input type="text" id="direccion_usuario" class="form-control" onfocusout="validarDireccion(this);" />
                    </div>
                    
                    <div class="col col-xl-6 col-12">
                        <b><label for="correo">Correo *</label></b>
                        <input type="text" id="correo_usuario" class="form-control" onfocusout="validarCorreo(this);" />
                    </div>

                    <div class="col col-xl-6 col-12">
                        <b><label for="tipo_usuario">Tipo de Usuario *</label></b>
                        <select class="form-control" id="tipo_usuario" required>
                            <option selected disabled>Seleccione el tipo de usuario:</option>
                            <option value="lector">Lector</option>
                            <option value="bibliotecario">Bibliotecario</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                </div>
                <br>
                <button class="btn btn-success" onclick="registrarUsuario();">
                    Agregar Usuario
                </button>
                <button class="btn btn-primary" onclick="limpiarFormulario();">
                    Limpiar Formulario
                </button>
                <a href="../view/usuarios.html"><button class="btn btn-danger">Cerrar</button></a>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../js/usuario.js"></script>
    </body>
</html>
