<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Sena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body onload="listarLibros();">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-dark sidebar">
                <div class="sidebar-heading text-light pt-3 mb-4 custom-blue">
                    <img src="../img/libro.png" class="mr-2" style="height: 100px;">
                    <h1 style="font-size: 35px;">Biblioteca Sena</h1>
                </div>
                <ul class="list-unstyled" style="margin-left: 10px;">
                    <li><a href="../view/libro.html" class="text-light"><i class="fas fa-book"></i> Libros</a></li>
                    <li><a href="../view/usuarios.html" class="text-light"><i class="fas fa-users"></i> Usuarios</a>
                    </li>
                    <li><a href="../view/prestamos.html" class="text-light"><i class="fas fa-book-reader"></i>
                            Préstamos</a></li>
                    <li><a href="../view/multas.html" class="text-light"><i class="fas fa-money-bill-wave"></i>
                            Multas</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <h1 class="mt-3">Libros</h1>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="../view/agregar_libro.html"><button type="button" class="btn btn-success"
                                style="margin-top: 10px;">Añadir Libro</button></a>

                    </div>
                    <div class="col-md-8 text-right">
                        <div class="form-inline  justify-content-end">
                            <input type="search" class="form-control mr-2" id="inputSearch" placeholder="Buscar"
                                style="margin-top: 10px;">
                            <button type="button" class="btn btn-primary ml-2" onclick="listarLibros();"
                                style="margin-top: 10px;">Aplicar Filtro</button>
                        </div>
                    </div>
                </div>
                <hr> <!-- Línea horizontal debajo de los botones -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID Libro</th>
                                    <th>Titulo</th>
                                    <th>Autor</th>
                                    <th>Genero</th>
                                    <th>ISBN</th>
                                    <th>Libros Disponibles</th>
                                    <th>Libros Ocupados</th>
                                    <th id="headerAcciones">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpoTabla">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para editar el libro -->
    <div class="modal fade" id="editarLibroModal" tabindex="-1" role="dialog" aria-labelledby="editarLibroLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarLibroLabel">Editar Libro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editarLibroForm">
                        <div class="form-group">
                            <label for="libroTitulo">Título</label>
                            <input type="text" class="form-control" id="editTitulo_libro" placeholder="Título del libro">
                        </div>
                        <div class="form-group">
                            <label for="libroAutor">Autor</label>
                            <input type="text" class="form-control" id="editAutor_libro" placeholder="Autor del libro">
                        </div>
                        <div class="form-group">
                            <label for="libroGenero">Género</label>
                            <select class="form-control" id="editGenero_libro">
                                <option value="aventura">Aventura</option>
                                <option value="biografia">Biografía</option>
                                <option value="ciencia_ficcion">Ciencia Ficción</option>
                                <option value="crimen">Crimen</option>
                                <option value="drama">Drama</option>
                                <option value="ensayo">Ensayo</option>
                                <option value="fantasia">Fantasía</option>
                                <option value="historico">Histórico</option>
                                <option value="humor">Humor</option>
                                <option value="infantil">Infantil</option>
                                <option value="juvenil">Juvenil</option>
                                <option value="misterio">Misterio</option>
                                <option value="novela_negra">Novela Negra</option>
                                <option value="poesia">Poesía</option>
                                <option value="romance">Romance</option>
                                <option value="suspense">Suspense</option>
                                <option value="terror">Terror</option>
                                <option value="thriller">Thriller</option>
                                <option value="accion">Acción</option>
                                <option value="amor">Amor</option>
                                <option value="cuento">Cuento</option>
                                <option value="didactico">Didáctico</option>
                                <option value="distopia">Distopía</option>
                                <option value="epico">Épico</option>
                                <option value="erotico">Erótico</option>
                                <option value="fabula">Fábula</option>
                                <option value="filosofico">Filosófico</option>
                                <option value="guerra">Guerra</option>
                                <option value="legal">Legal</option>
                                <option value="lirico">Lírico</option>
                                <option value="musical">Musical</option>
                                <option value="naturalista">Naturalista</option>
                                <option value="periodistico">Periodístico</option>
                                <option value="psicologico">Psicológico</option>
                                <option value="realista">Realista</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="libroISBN">ISBN</label>
                            <input type="text" class="form-control" id="editCodigo_ISBN" placeholder="Código ISBN">
                        </div>
                        <div class="form-group">
                            <label for="librosDisponibles">Libros Disponibles</label>
                            <input type="number" class="form-control" id="editLibros_disponibles"
                                placeholder="Cantidad de libros disponibles">
                        </div>
                        <div class="form-group">
                            <label for="librosOcupados">Libros Ocupados</label>
                            <input type="number" class="form-control" id="editLibros_ocupados"
                                placeholder="Cantidad de libros ocupados">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="actualizarLibro()">Guardar
                        Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/libro.js"></script>

</body>

</html>