<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Sena</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body onload="listarLibros();">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-dark sidebar">
                <div class="sidebar-heading text-light pt-3 mb-4 custom-blue">
                    <img src="../img/libro.png" class="mr-2" style="height: 100px;">
                    <h1 style="font-size: 35px;">Biblioteca Sena</h1>
                </div>
                <ul class="list-unstyled" style="margin-left: 10px;">
                    <li><a href="../view/libro.html" class="text-light"><i class="fas fa-book"></i> Libros</a></li>
                    <li><a href="../view/usuarios.html" class="text-light"><i class="fas fa-users"></i> Usuarios</a>
                    </li>
                    <li><a href="../view/prestamos.html" class="text-light"><i class="fas fa-book-reader"></i>
                            Préstamos</a></li>
                    <li><a href="../view/multas.html" class="text-light"><i class="fas fa-money-bill-wave"></i>
                            Multas</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <h1 class="mt-3">Libros</h1>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="../view/agregar_libro.html"><button type="button" class="btn btn-success"
                                style="margin-top: 10px;">Añadir Libro</button></a>

                    </div>
                    <div class="col-md-8 text-right">
                        <div class="form-inline  justify-content-end">
                            <input type="search" class="form-control mr-2" id="inputSearch" placeholder="Buscar"
                                style="margin-top: 10px;">
                            <button type="button" class="btn btn-primary ml-2" onclick="listarLibros();"
                                style="margin-top: 10px;">Aplicar Filtro</button>
                        </div>
                    </div>
                </div>
                <hr> <!-- Línea horizontal debajo de los botones -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID Libro</th>
                                    <th>Titulo</th>
                                    <th>Autor</th>
                                    <th>Genero</th>
                                    <th>ISBN</th>
                                    <th>Libros Disponibles</th>
                                    <th>Libros Ocupados</th>
                                    <th id="headerAcciones">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpoTabla">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
  <div class="modal fade" id="EditarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar libro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <h6>Todos los campos con asterisco son obligatorios *</h6>
            <input id="id_libro" type="hidden">
            <div class="col col-xl-6 col-12">
                <b><label for="">Título libro *</label></b>
                <input type="text" id="titulo_libro" class="form-control" onfocusout="validarTitulo_libro(this);" />
            </div>

            <div class="col col-xl-6 col-12">
                <b><label for="">Autor libro *</label></b>
                <input type="text" id="autor_libro" class="form-control" onfocusout="validarAutor_libro(this);" />
            </div>

            <div class="col col-xl-6 col-12">
                <b><label for="">Genero libro *</label></b>
                <input type="text" id="genero_libro" class="form-control" onfocusout="validarGenero_libro(this);" />
            </div>

            <div class="col col-xl-6 col-12">
                <b><label for="">ISBN  *</label></b>
                <input type="number" id="codigo_ISBN" step="1" class="form-control"
                    onfocusout="validarIsbn(this);" />
            </div>
            
            <div class="col col-xl-6 col-12">
                <b><label for="">Numero ejemplares disponibles *</label></b>
                <input type="number" id="libros_disponibles" step="1" class="form-control"
                    onfocusout="validarLi_Disponibles(this);" />
            </div>
            <div class="col col-xl-6 col-12">
                <b><label for="">Numero ejemplares ocupados *</label></b>
                <input type="text" id="libros_ocupados" class="form-control"
                    onfocusout="validarLi_Ocupados(this);" />
            </div>
            
        </div>
          <button type="button" class="btn btn-primary" onclick="actualizarLibro();">Actualizar</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/libro.js"></script>

</body>

</html>